/* navbar */
.navbar {
  background-color: #f8f8f8;
  height: 60px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-link {
  color: #333;
  text-decoration: none;
}

.navbar-link:hover {
  color: #888;
}

/* drop down */
.employee-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 10px;
}

.form-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Optional: Style the selected option */
.form-select option:checked {
  background-color: #e9e9e9;
  font-weight: bold;
}

/* employee contact form */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #555;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .input-field {
    padding: 8px;
  }

  .submit-button {
    padding: 8px 16px;
  }
}
/* list employee section */

.employee-container {
  margin: 20px;
}

.employee-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.employee-card p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.edit-button,
.delete-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #555;
}

.pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.pagination-button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: #555;
}

.page-info {
  font-size: 14px;
  margin-left: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .employee-container {
    margin: 10px;
  }

  .employee-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .employee-card p {
    margin-bottom: 5px;
  }

  .edit-button,
  .delete-button {
    margin-top: 10px;
  }

  .pagination {
    flex-direction: column;
    align-items: center;
  }

  .pagination-button {
    margin: 5px;
  }
}